<div class="row">
  <div class="col-4">
    Consumption
    <div class="input-group">
      <input type="number" step="0.1" class="number form-control" placeholder="l/100km" [(ngModel)]="consumption.per100km">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1">l/100km</span>
      </div>
    </div>
  </div >

  <div class="col-4">
    Upkeep
    <div class="input-group">
      <input type="number" step="0.01" class="number form-control" placeholder="Upkeep" [(ngModel)]="consumption.carCostPerKm">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1">€/km</span>
      </div>
    </div>
  </div>
</div>
