<hr>
<div class="row" >
  <div class="col-lg-4 col-sm-7 col-xs-12">
    Station {{station.index}}
    <input type="text" placeholder="Name" class="form-control" [(ngModel)]="station.name">
  </div>
  <div class="col-lg-4 col-sm-5 col-xs-12">
    Detour
    <div class="input-group">
      <input type="number" step="0.1" placeholder="km" class="form-control number" [(ngModel)]="station.detourKm">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1">km</span>
      </div>
    </div>
  </div>
</div>
