<div class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1, ngb-panel-2">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5 class="mb-0">
          <button class="btn btn-link">
            Settings
          </button>
        </h5>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-consumption 
          [(consumption)]="consumption">
        </app-consumption>
        <app-station 
          *ngFor="let station of stations"
          [station]=station>
        </app-station>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5 class="mb-0">
          <button class="btn btn-link">
              Refuel data
          </button>
        </h5>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row align-items-end">
          <div class="col-lg-4 col-sm-7 col-xs-12">
            Distance since last refuel
            <div class="input-group">
              <input type="number" class="form-control" placeholder="km" [(ngModel)]="distance">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">km</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-5 col-xs-12">
            Estimated refill
            <div class="input-group">
              <input type="text" class="form-control" placeholder="l" [value]="estimatedRefill()" disabled>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">l</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4" *ngFor="let station of stations">
            <label>Price at<br>{{station.name !== '' ? station.name : 'Station ' + station.index }}</label>
            <input type="number" step="0.01" class="form-control" placeholder="Price" [(ngModel)]="station.price">
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <h5 class="mb-0">
          <button class="btn btn-link">
              Total cost (incl. detour consumption)
          </button>
        </h5>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-4" *ngFor="let station of stations">
            <label>{{station.name !== '' ? station.name : 'Station ' + station.index }}</label><br>
            <input type="text" class="form-control" disabled [value]="totalCostFor(station)">
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

